// Load common functions module.
@use '~/../src/sass/modules/common-functions' as *;

// Load configuration module to get important variables, override some.
@use '~/../src/sass/modules/config' with (
  // Local override!
  $overrides: (
    default-palette: basie-dark
  ),
);

// Get all of the MDS components I want, in this case, just headers.
@use '~/../src/sass/components/headers';

// Use the functions supplied from config module, with palette from the same to specify the background color, assigning to local variable.
$body-bg: getPaletteColor(config.get(palette), config.get(default-palette), 'background-color');

// Same for basic text color.
$body-color: getPaletteColor(config.get(palette), config.get(default-palette), 'text');

// Set body background.
body {
  background: $body-bg;
  color: $body-color;
}