{# 
  Internal Footer Component.
  Mainly contains smaller components to create an attractive Footer.
  Can be promoted to 'Shared' when appropriate.
  Has a required defaultClass value.
#}

{# Provide the required defaultClass value. #}
{%
  set _defaultClass = [
    'mds-footer',
  ]
%}

{# 
 TODO: footer probably should have optional logo component.
 Therefore hasLogo should be part of its props.
 
 Footer props should include: 
  hasLogo,
    - if hasLogo: LogoComponent (w/ assetPath and logoFile properties, width) 
  footerChildren (string?).
#}

<footer data-testid="mds-footer" class="{{_defaultClass}} text-center md:flex  items-center p-4 px-8 bg-black text-white ">
{% block footerChildren %}
<div class="md:flex">
{# Use include strategy for simpler components (no children/slots/embeds). #}
  {% include './footer-logo.twig' with {"modifiers":"inline-block mr-8"} %}
  
  {# Uses the block strategy of componentization! #}
  {% embed '../box/box.twig' %}
    {% block content %}
      <small class="text-gray text-sm"> {{'Copyright &copy; 2021 McGill University. All rights reserved.' | t }}</small>
    {% endblock %}
  {% endembed %}
</div>
<div class="md:flex flex-grow justify-end dark">
  {% embed '../box/box.twig' with {"modifiers": "" }%}
    {% block content %}
      <a class="m-3 p-3 inline-block" href="#">Accessibility</a>
    {% endblock %}
  {% endembed %}

  {% embed '../box/box.twig' with {"modifiers": " "} %}
    {% block content %}
      <a href="#" class="m-3 p-3 inline-block">Privacy notice</a>
    {% endblock %}
  {% endembed %}

  {% embed '../box/box.twig' with {"modifiers": " "}%}
    {% block content %}
    <button class="mds-button" href="#" title="Site Maintenance">Login <i class="ml-1 fal fa-lock"></i> </button>
    {% endblock %}
  {% endembed %}
{% endblock %}
</div>
</footer>