// McGill Design System.
// fonts.scss
// This file specifies the custom fonts that are officially provided by the MDS.
//
// Local variables:
// * asset-path-font
// * highlight-color
//// TODO: some modules should have variables that can be loaded into the module scope using the @use with() syntax. We need a way to expose those or at least list at the top of each module file, like here.


// TODO: ~config: defaults - shove all into that~, ~font-path get rid off in settings, belongs here in fonts~, ~and add palette map for colors~. Also should have a 'required' module that can't be changed (ie. for branding).

// Load common utilities module, hoist into universal namespace.
@use 'common-functions' as *;

// Load configuration module to get important variables.
@use 'config';

// Set variable for path to fonts.
$asset-path: config.get(asset-path);
$asset-path-font: '#{$asset-path}fonts';

// Set highlight color for headers.
// Load the palette from config & load the color from the theme and the palette.
$highlight-color: getPaletteColor(config.get(palette), config.get(default-palette), 'accent');

// Currently used variants of the McGill custom fonts.
// TODO: modules should not directly write CSS! The following font-face declarations should be in a component that *should* be loaded with any component that requires these fonts. Or, conversely, this is fine and every component that depends on these font face should also include them? Problem is that CSS doesn't have a dependency mechanism - although that's also a strength. Also to NB: Parcel and other bundlers *will* de-dupe!
@font-face {
  font-family: 'McGillSans-Regular';
  src: url('#{$asset-path-font}/McGillSans-Regular.eot');
  src: url('#{$asset-path-font}/McGillSans-Regular.eot?#iefix') format('embedded-opentype'),
  url('#{$asset-path-font}/McGillSans-Regular.woff') format('woff'),
  url('#{$asset-path-font}/McGillSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'McGillSans-Medium';
  src: url('#{$asset-path-font}/McGillSans-Medium.eot');
  src: url('#{$asset-path-font}/McGillSans-Medium.eot?#iefix') format('embedded-opentype'),
  url('#{$asset-path-font}/McGillSans-Medium.woff') format('woff'),
  url('#{$asset-path-font}/McGillSans-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'McGillSans-Italic';
  src: url('#{$asset-path-font}/McGillSans-Italic.eot');
  src: url('#{$asset-path-font}/McGillSans-Italic.eot?#iefix') format('embedded-opentype'),
  url('#{$asset-path-font}/McGillSans-Italic.woff') format('woff'),
  url('#{$asset-path-font}/McGillSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'McGillSerif-Regular';
  src: url('#{$asset-path-font}/McGillSerif-Regular.eot');
  src: url('#{$asset-path-font}/McGillSerif-Regular.eot?#iefix') format('embedded-opentype'),
  url('#{$asset-path-font}/McGillSerif-Regular.woff') format('woff'),
  url('#{$asset-path-font}/McGillSerif-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'McGillSerif-Medium';
  src: url('#{$asset-path-font}/McGillSerif-Medium.eot');
  src: url('#{$asset-path-font}/McGillSerif-Medium.eot?#iefix') format('embedded-opentype'),
  url('#{$asset-path-font}/McGillSerif-Medium.woff') format('woff'),
  url('#{$asset-path-font}/McGillSerif-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'McGillSerif-Italic';
  src: url('#{$asset-path-font}/McGillSerif-Italic.eot');
  src: url('#{$asset-path-font}/McGillSerif-Italic.eot?#iefix') format('embedded-opentype'),
  url('#{$asset-path-font}/McGillSerif-Italic.woff') format('woff'),
  url('#{$asset-path-font}/McGillSerif-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Variable to hold standard serif fonts.
$standard-serif: Georgia, 'Times New Roman', Times, serif;

// Variable to hold standard serif fonts.
$standard-sans-serif: Arial, Helvetica, sans-serif;

// Variable to hold McGill serif fonts.
$mcgill-standard-serif: 'McGillSerif-Regular';

// Variable to hold McGill medium serif fonts.
$mcgill-medium-serif: 'McGillSerif-Medium';

// Variable to hold McGill sans-serif fonts.
$mcgill-standard-sans-serif: 'McgillSans-Regular';

// A mixin to provide serif fonts.
@mixin serif {
  font-family: $mcgill-standard-serif, $standard-serif;
  color: $highlight-color;
}

// A mixin to provide sans-serif fonts.
@mixin sans-serif {
  font-family: $mcgill-standard-sans-serif, $standard-sans-serif;
  color: $highlight-color;
}

// A mixin to provide medium serif fonts.
@mixin medium-serif {
  font-family: $mcgill-medium-serif, $standard-serif;
  color: $highlight-color;
}
