// McGill Design System.
// fonts.scss
// This file specifies the custom fonts that are officially provided by the MDS.


@use 'sass-config';

$asset-path-font: sass-config.$asset-path-font;

// Variable for path to fonts.
// $asset-path-font : "../../../assets/fonts"; // Good for Sass. This is where the fonts do live...
// TODO: this needs to be changed to something that works as well at CSS build-time. Probably needs multiple builds...A sass one and a fonts-one so the fonts can be distributed as well, like so: src: url("./fonts/McGillSans-Medium.eot");

// $css-bundle-asset-path-fonts: "../fonts"; // Good for CSS dist build cause fonts need to be bundled WITH the CSS.

// Need a way to bundle the CSS differently for the big CSS build that would be distributed and use that variable instead. In reality what you would do is use the build task to put css and fonts in the dist dir together:
// dist/fonts and dist/css. The CSS can have a different relative path to the fonts than the Sass does. So, there would be 2 distinct build processes. And you wouldn't call the CSS straight from the node_modules anyway.



// Currently used variants of the Mcgill custom fonts.
@font-face {
  font-family: 'McGillSans-Regular';
  src: url('#{$asset-path-font}/McGillSans-Regular.eot');
  src: url('#{$asset-path-font}/McGillSans-Regular.eot?#iefix') format('embedded-opentype'),
  url('#{$asset-path-font}/McGillSans-Regular.woff') format('woff'),
  url('#{$asset-path-font}/McGillSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
 
@font-face {
  font-family: 'McGillSans-Medium';
  src: url('#{$asset-path-font}/McGillSans-Medium.eot');
  src: url('#{$asset-path-font}/McGillSans-Medium.eot?#iefix') format('embedded-opentype'),
  url('#{$asset-path-font}/McGillSans-Medium.woff') format('woff'),
  url('#{$asset-path-font}/McGillSans-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'McGillSans-Italic';
  src: url('#{$asset-path-font}/McGillSans-Italic.eot');
  src: url('#{$asset-path-font}/McGillSans-Italic.eot?#iefix') format('embedded-opentype'),
  url('#{$asset-path-font}/McGillSans-Italic.woff') format('woff'),
  url('#{$asset-path-font}/McGillSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
font-family: 'McGillSerif-Regular';
src: url('#{$asset-path-font}/McGillSerif-Regular.eot');
src: url('#{$asset-path-font}/McGillSerif-Regular.eot?#iefix') format('embedded-opentype'),
url('#{$asset-path-font}/McGillSerif-Regular.woff') format('woff'),
url('#{$asset-path-font}/McGillSerif-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}


@font-face {
  font-family: 'McGillSerif-Medium';
  src: url('#{$asset-path-font}/McGillSerif-Medium.eot');
  src: url('#{$asset-path-font}/McGillSerif-Medium.eot?#iefix') format('embedded-opentype'),
  url('#{$asset-path-font}/McGillSerif-Medium.woff') format('woff'),
  url('#{$asset-path-font}/McGillSerif-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'McGillSerif-Italic';
  src: url('#{$asset-path-font}/McGillSerif-Italic.eot');
  src: url('#{$asset-path-font}/McGillSerif-Italic.eot?#iefix') format('embedded-opentype'),
  url('#{$asset-path-font}/McGillSerif-Italic.woff') format('woff'),
  url('#{$asset-path-font}/McGillSerif-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Variable to hold standard serif fonts.
$standard-serif: Georgia, 'Times New Roman', Times, serif;

// Variable to hold standard serif fonts.
$standard-sans-serif: Arial, Helvetica, sans-serif;

// Variable to hold McGill serif fonts.
$mcgill-standard-serif: 'McGillSerif-Regular';

// Variable to hold McGill medium serif fonts.
$mcgill-medium-serif: 'McGillSerif-Medium';

// Variable to hold McGill sans-serif fonts.
$mcgill-standard-sans-serif: 'McgillSans-Regular';

// A mixin to provide serif fonts.
@mixin serif {
  font-family: $mcgill-standard-serif, $standard-serif;
  color: hotpink;
}

// A mixin to provide sans-serif fonts.
@mixin sans-serif {
  font-family: $mcgill-standard-sans-serif, $standard-sans-serif;
}

// A mixin to provide medium serif fonts.
@mixin medium-serif {
  font-family: $mcgill-medium-serif, $standard-serif;
}